<div class="ui raised segment search-container">
  <img class="ui centered medium image" src="/logo-text.jpg" >
</div>
<%= react_component("Search") %>

<%= render partial: "films/film_cards", locals: { name: "Most Released", film_list: @most_released } %>
<%= render partial: "films/film_cards", locals: { name: "Highest Rated", film_list: @highest_rated } %>
